

.table_wrapper {
    overflow-x: auto;
    
    td,th {
        padding: 5px 20px;
        text-wrap: nowrap;
    }
}


.table_wrapper td{
    @apply hover:bg-teal-200 
}

.table_wrapper tr{
    @apply hover:outline -outline-offset-2 outline-emerald-400 
}

.table_wrapper td.active{
background: red;
}
